.row
  #links.span6
  %form#selects.span6
    %select#select_day.input-small
      %option{value: 1} Day 1
      %option{value: 2} Day 2
      %option{value: 3} Day 3
    %select#select_block.input-mini
#main
  .row
    #page_info
  .row
    .span9
      - 1.upto 4 do |x|
        .row
          - 1.upto 4 do |y|
            .span2.circle_box{:id => "box_#{(x - 1) * 4 + (y - 1)}"}
    .span3
      #colors.well
        %h3 colors
      #circle_info.well
        %h2#circle_name
        #circle_cut
        %h3#circle_space
        %h3#circle_author
        %p#circle_description

%script{src: '/application.js', type: 'text/javascript'}
