.row
  .span8
    - 1.upto 5 do |x|
      .row
        - 1.upto 5 do |y|
          .span1.circle_box{:id => "box_#{(x - 1) * 5 + (y - 1)}"}
  .span4

%script{src: '/application.js', type: 'text/javascript'}
