!!! 5
%title ComiketBrowser
%link{rel: "stylesheet", href: "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap.min.css", type: 'text/css'}
.navbar
  .navbar-inner
    .container
      %header
        %a.brand{href: '/'} ComiketBrowser
        .nav-collapse.collapse
          %ul.nav
            %li
              %a{href: '/help'} help
.container
  %section
    = yield
