.circle-box
  margin-bottom: 4px
  border: 1px solid #cccccc

.selected-circle
  border: 1px solid #ff0000

.circle-info
  line-height: 1.5em
  height: 1.5em
  overflow: hidden

#links
  margin-bottom: 16px

#circle_info
