%article
  %h2 使い方
  %a{href: 'https://github.com/np-complete/comiket_browser_for_linux'} githubのREADME

  %h3 生成物(保存推奨)
  %dl
    %dt ./check.sqlite3
    %dd サークルチェック情報

  %h2 アンインストール方法
  ディレクトリごと削除

